%table.table.table-bordered
  %thead
    %tr
      %th Command
      %th Response
  %tbody
    %tr
      %td
        %code calc 2 + 2
      %td 4

    %tr
      %td
        %code btc update
      %td Bitcoin is $635.06 today.

    %tr
      %td
        %code weather San Jose, CA
      %td Today, the temperature is 66.

    %tr
      %td
        %code fb post Having fun at HSHacks!
      %td
    %tr
      %td
        %code fb list notifs
      %td Rishi Dhanaraj added a photo of you.

    %tr
      %td
        %code translate en Bonjour
      %td Hello
