%table.table.table-bordered
  %thead
    %tr
      %th Command
      %th Response
  %tbody
    %tr
      %td calc 2 + 2
      %td 4

    %tr
      %td btc update
      %td Bitcoin is $635.06 today.

    %tr
      %td weather San Jose, CA
      %td Today, the temperature is 66.

    %tr
      %td fb post Having fun at HSHacks!
      %td Posted successfully.
    %tr
      %td fb list notifs
      %td Rishi Dhanaraj added a photo of you.

    %tr
      %td gmail recent
      %td Shrav Mehta: Prizes

    %tr
      %td translate en Bonjour
      %td Hello
