%p.lead
  You may now text
  %strong (646) 863-7942
  with any of the commands found on the
  = succeed '.' do
    %a{href: '/docs'} docs

%a.btn.btn-primary.btn-lg.btn-block{href: '/facebook'} Enable Facebook
%a.btn.btn-danger.btn-lg.btn-block{href: '/gmail'} Enable Gmail
