!!!
%html
  %head
    %title Text Shell

    %link{rel: 'stylesheet', href:'//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href:'css/style.css'}
  %body
    .container
      = yield
