<div class='row'>
  <div class='col-md-6 text-right'>
    <%= image_tag 'phone2.png', height: 400 %>
  </div>

  <div class='col-md-5'>
    <p class='lead'>
      Get your Facebook notifications and unread emails without data or wifi, but via text.
    </p>

    <hr>

    <ul>
      <li>Notifications, messages via Facebook</li>
      <li>Unread email via Gmail</li>
      <li>Weather via Wunderground</li>
      <li>Translations via Bing</li>
    </ul>

    <hr>

    <p>Designed and developed for the CreateHS challenge.</p>

    <div class='text-center'>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
