<div class="row functionale">
  <div class="col-md-6 text-right">
    <%= image_tag 'phone2.png', width: '80%' %>
  </div>

  <div class="col-md-5">
    <br>
    <p class="lead functionale">
      Get your Facebook notifications and unread emails without data or wifi, but via text.
    </p>

    <hr>
    <p class="functionale">
    • Notifications, messages via Facebook <br>
    • Unread email via Gmail <br>
    • Stock prices via Yahoo! Finance <br>
    • Weather via Wunderground <br>
    • Translations via Bing <br>
    </p>

    <hr>
    Designed and developed for the CreateHS challenge. <br><br>
    <div class="text-center">
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-default'%>
    </div>

  </div>
</div>