<table class='table table-bordered table-striped table-hover docs'>
  <thead>
    <tr>
      <th>Command</th>
      <th>Response</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="gray_hue">calc 2 + 2
      <td>4</td>
    </tr>

    <tr>
      <td class="gray_hue">weather San Jose, CA</td>
      <td>Today, the temperature is 66</td>
    </tr>

    <tr>
      <td class="blue_hue">fb post Having fun at HSHacks!</td>
      <td>Posted successfully.</td>
    </tr>

    <tr>
      <td class="blue_hue">fb list notifs</td>
      <td>Rishi Dhanaraj added a photo of you.</td>
    </tr>

    <tr>
      <td class="red_hue">gmail list</td>
      <td>TSH: Account Verification</td>
    </tr>

    <tr>
      <td class="gray_hue">translate en Bonjour</td>
      <td>Hello</td>
    </tr>
  </tbody>
</table>
