<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Command</th>
      <th>Response</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>calc 2 + 2
      <td>4</td>
    </tr>

    <tr>
      <td>weather San Jose, CA</td>
      <td>Today, the temperature is 66</td>
    </tr>

    <tr>
      <td>fb post Having fun at HSHacks!</td>
      <td>Posted successfully.</td>
    </tr>

    <tr>
      <td>fb list notifs</td>
      <td>Rishi Dhanaraj added a photo of you.</td>
    </tr>

    <tr>
      <td>gmail list</td>
      <td>Shrav Mehta: Prizes</td>
    </tr>

    <tr>
      <td>translate en Bonjour</td>
      <td>Hello</td>
    </tr>
  </tbody>
</table>
