/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  padding-top: 35px;
  font-family: Raleway;
}

strong {
  font-weight: 480;
}


.functionale {
  font-family: Raleway;
}

table.docs {
	thead {
		tr {
			th {
				border-radius: 6px;
				font-size: 3rem;
			}
		}
	}
	tbody {
		tr {
			td {
				padding: 2rem 1rem;
			}
			[class$="hue"] {
				font-weight: bold;
				font-style: normal;
			}
			.blue_hue {
				color: #4A89DC;
			}

			.red_hue {
				color: #DA4453;
			}

			.green_hue {
				color: #37BC9B;
			}

			.purple_hue {
				color: #967ADC;
			}

			.gray_hue {
				color: #656D78;
			}
		}
	}
}